<h1>Listing faculty_profiles</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @faculty_profiles.each do |faculty_profile| %>
      <tr>
        <td><%= User.find(faculty_profile.id).formal_name %></td>
        <td></td>
        <td></td>
        <td><%= link_to 'Show', faculty_profile %></td>
        <% if current_user.godBit or current_user.id == faculty_profile.id%>
          <td><%= link_to 'Edit', edit_faculty_profile_path(faculty_profile) %></td>
        <%end%>
        <% if current_user.godBit %>
          <td><%= link_to 'Destroy', faculty_profile, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <%end%>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
