<p id="notice"><%= notice %></p>

<p>
  <b>Publicationtext:</b>
  <%= @publication.publicationText %>
</p>


<%= link_to 'Edit', edit_publication_path(@publication) %> |
<%= link_to 'Back', publications_path %>
