<h2>News</h2>

<ul>
  <% @news_items.each do |news_item| %>
    <% news_item.id %>
    <% @action_items.each do |action_item| %>
      <% if action_item.isApproved %>
        <% if news_item.actionItemID == action_item.id %>
          <%= link_to (news_item.title), news_item %>
        <%end%>
      <%end%>
    <%end%>
  <%end%>
</ul>

