<h1>Listing printer_associations</h1>

<table>
  <tr>
    <th>Equipmentid</th>
    <th>Printerid</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @printer_associations.each do |printer_association| %>
  <tr>
    <td><%= Equipment.find(printer_association.equipmentID).digest %></td>
    <td><%= Equipment.find(printer_association.printerID).digest %></td>
    <td><%= link_to 'Show', printer_association %></td>
    <td><%= link_to 'Destroy', printer_association, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />


