#example_2.example_content
#top_navigation= render_navigation(:level => 1)
.clear_float
.content
.breadcrumbs
= render_navigation(:renderer => :breadcrumbs, :join_with => ' &raquo; ', :prefix => 'breadcrumbs: ')